# Zach Gulde's sqlite3/pandas Exercises

# Purpose

Reviewing tutorial prepared by Zach Gulde.

## Environment Setup

In [1]:
import pandas as pd
import sqlite3

In [2]:
# show_df command displays info and head functions
def show_df(df, heads=5):
    if heads > len(df):
        heads = len(df)
    print(df.info())
    display(df.head(heads))

## Getting the Data Into Pandas

The `sqlite3` module is part of the python standard library, so you shouldn't
need to install anything.

```python
import pandas as pd
import sqlite3

connection = sqlite3.connect('pizza.sqlite') # or specify the path to the db file

pizzas = pd.read_sql('SELECT * FROM pizzas', connection)
```

In [3]:
connection = sqlite3.connect('pizza.sqlite') # or specify the path to the db file

## Exploration

Get structure of database

In [4]:
pizza_master = pd.read_sql('SELECT * FROM sqlite_master', connection)
display(pizza_master)

,type,name,tbl_name,rootpage,sql
0,table,crust_types,crust_types,2,CREATE TABLE crust_types(\n crust_type_id I...
1,table,sizes,sizes,3,CREATE TABLE sizes(\n size_id INTEGER PRIMA...
2,table,toppings,toppings,4,CREATE TABLE toppings(\n topping_id INTEGER...
3,table,modifiers,modifiers,5,CREATE TABLE modifiers(\n modifier_id INTEG...
4,table,pizzas,pizzas,6,CREATE TABLE pizzas(\n pizza_id INTEGER PRI...
5,table,pizza_toppings,pizza_toppings,7,CREATE TABLE pizza_toppings(\n pizza_id INT...
6,index,sqlite_autoindex_pizza_toppings_1,pizza_toppings,8,None
7,table,pizza_modifiers,pizza_modifiers,9,CREATE TABLE pizza_modifiers(\n pizza_id IN...
8,index,sqlite_autoindex_pizza_modifiers_1,pizza_modifiers,10,None

get list of tables, use loops to spit out code for creating and displaying DataFrames from sqlite3

In [5]:
pizza_tables = pizza_master[pizza_master.type == 'table'].name.to_list()

In [48]:
# loop through to get create commands
for t in pizza_tables:
    print(f'{t} = pd.read_sql("SELECT * FROM {t}", connection)')
    print(f'{t}_record_count = {t}.shape[0]')
#     print(f'{t}_id_field = {t}.columns[0]')

crust_types = pd.read_sql("SELECT * FROM crust_types", connection)
crust_types_record_count = crust_types.shape[0]
sizes = pd.read_sql("SELECT * FROM sizes", connection)
sizes_record_count = sizes.shape[0]
toppings = pd.read_sql("SELECT * FROM toppings", connection)
toppings_record_count = toppings.shape[0]
modifiers = pd.read_sql("SELECT * FROM modifiers", connection)
modifiers_record_count = modifiers.shape[0]
pizzas = pd.read_sql("SELECT * FROM pizzas", connection)
pizzas_record_count = pizzas.shape[0]
pizza_toppings = pd.read_sql("SELECT * FROM pizza_toppings", connection)
pizza_toppings_record_count = pizza_toppings.shape[0]
pizza_modifiers = pd.read_sql("SELECT * FROM pizza_modifiers", connection)
pizza_modifiers_record_count = pizza_modifiers.shape[0]

*(Paste above into next cell)*

In [49]:
crust_types = pd.read_sql("SELECT * FROM crust_types", connection)
crust_types_record_count = crust_types.shape[0]
crust_types_id_field = crust_types.columns[0]
sizes = pd.read_sql("SELECT * FROM sizes", connection)
sizes_record_count = sizes.shape[0]
sizes_id_field = sizes.columns[0]
toppings = pd.read_sql("SELECT * FROM toppings", connection)
toppings_record_count = toppings.shape[0]
toppings_id_field = toppings.columns[0]
modifiers = pd.read_sql("SELECT * FROM modifiers", connection)
modifiers_record_count = modifiers.shape[0]
modifiers_id_field = modifiers.columns[0]
pizzas = pd.read_sql("SELECT * FROM pizzas", connection)
pizzas_record_count = pizzas.shape[0]
pizzas_id_field = pizzas.columns[0]
pizza_toppings = pd.read_sql("SELECT * FROM pizza_toppings", connection)
pizza_toppings_record_count = pizza_toppings.shape[0]
pizza_toppings_id_field = pizza_toppings.columns[0]
pizza_modifiers = pd.read_sql("SELECT * FROM pizza_modifiers", connection)
pizza_modifiers_record_count = pizza_modifiers.shape[0]
pizza_modifiers_id_field = pizza_modifiers.columns[0]

In [105]:
# loop throught to get show_df commands
for t in pizza_tables:
    print(f'*** {t.upper()} BEGIN ***')
    print(f'\nMD CELL:\n### {t}')
    print(f'\nCODE CELL:\nprint(f\'ID Field: {{{t}_id_field}}\\n\')')
    print(f'show_df({t})')
    print(f'\nMD CELL:\n#### {t} Key Statistics')
    print(f'\nCODE CELL - REPLACE EVERYTHING IN ALL CAPS:')
    print(f'print(f\'There are {{{t}_record_count}} records in this table\')\n')
    print(f'# Count of unique {t.upper()}_ID')
    print(f'{t.upper()}_ID_count = {t}.{t.upper()}_ID.nunique()')
    print(f'{t.upper()}_ID_min = {t}.{t.upper()}_ID.min()')
    print(f'{t.upper()}_ID_max = {t}.{t.upper()}_ID.max()')
    print(f'print(f\'\\n{{{t.upper()}_ID_count}} {t}_id in the range {{{t.upper()}_ID_min}} - {{{t.upper()}_ID_max}}\')')
    print(f'print(f\'Is {t.upper()}_ID unique? {{{t}_record_count == {t.upper()}_ID_count}}\')')
    print(f'\nMD CELL - SPECIFY WHETHER ID IS OR IS NOT UNIQUE:\n#### {t} evaluation')
    print(f'`{t.upper()}_ID` is not unique\nEVAL')
    print(f'\n*** {t.upper()} END ***')

*** CRUST_TYPES BEGIN ***

MD CELL:
### crust_types

CODE CELL:
print(f'ID Field: {crust_types_id_field}\n')
show_df(crust_types)

MD CELL:
#### crust_types Key Statistics

CODE CELL - REPLACE EVERYTHING IN ALL CAPS:
print(f'There are {crust_types_record_count} records in this table')

# Count of unique CRUST_TYPES_ID
CRUST_TYPES_ID_count = crust_types.CRUST_TYPES_ID.nunique()
CRUST_TYPES_ID_min = crust_types.CRUST_TYPES_ID.min()
CRUST_TYPES_ID_max = crust_types.CRUST_TYPES_ID.max()
print(f'\n{CRUST_TYPES_ID_count} crust_types_id in the range {CRUST_TYPES_ID_min} - {CRUST_TYPES_ID_max}')
print(f'Is CRUST_TYPES_ID unique? {crust_types_record_count == CRUST_TYPES_ID_count}')

MD CELL - SPECIFY WHETHER ID IS OR IS NOT UNIQUE:
#### crust_types evaluation
`CRUST_TYPES_ID` is not unique
EVAL

*** CRUST_TYPES END ***
*** SIZES BEGIN ***

MD CELL:
### sizes

CODE CELL:
print(f'ID Field: {sizes_id_field}\n')
show_df(sizes)

MD CELL:
#### sizes Key Statistics

CODE CELL - REPLACE EVERYTHING IN ALL CAPS:
print(f'There are {sizes_record_count} records in this table')

# Count of unique SIZES_ID
SIZES_ID_count = sizes.SIZES_ID.nunique()
SIZES_ID_min = sizes.SIZES_ID.min()
SIZES_ID_max = sizes.SIZES_ID.max()
print(f'\n{SIZES_ID_count} sizes_id in the range {SIZES_ID_min} - {SIZES_ID_max}')
print(f'Is SIZES_ID unique? {sizes_record_count == SIZES_ID_count}')

MD CELL - SPECIFY WHETHER ID IS OR IS NOT UNIQUE:
#### sizes evaluation
`SIZES_ID` is not unique
EVAL

*** SIZES END ***
*** TOPPINGS BEGIN ***

MD CELL:
### toppings

CODE CELL:
print(f'ID Field: {toppings_id_field}\n')
show_df(toppings)

MD CELL:
#### toppings Key Statistics

CODE CELL - REPLACE EVERYTHING IN ALL CAPS:
print(f'There are {toppings_record_count} records in this table')

# Count of unique TOPPINGS_ID
TOPPINGS_ID_count = toppings.TOPPINGS_ID.nunique()
TOPPINGS_ID_min = toppings.TOPPINGS_ID.min()
TOPPINGS_ID_max = toppings.TOPPINGS_ID.max()
print(f'\n{TOPPINGS_ID_count} toppings_id in the range {TOPPINGS_ID_min} - {TOPPINGS_ID_max}')
print(f'Is TOPPINGS_ID unique? {toppings_record_count == TOPPINGS_ID_count}')

MD CELL - SPECIFY WHETHER ID IS OR IS NOT UNIQUE:
#### toppings evaluation
`TOPPINGS_ID` is not unique
EVAL

*** TOPPINGS END ***
*** MODIFIERS BEGIN ***

MD CELL:
### modifiers

CODE CELL:
print(f'ID Field: {modifiers_id_field}\n')
show_df(modifiers)

MD CELL:
#### modifiers Key Statistics

CODE CELL - REPLACE EVERYTHING IN ALL CAPS:
print(f'There are {modifiers_record_count} records in this table')

# Count of unique MODIFIERS_ID
MODIFIERS_ID_count = modifiers.MODIFIERS_ID.nunique()
MODIFIERS_ID_min = modifiers.MODIFIERS_ID.min()
MODIFIERS_ID_max = modifiers.MODIFIERS_ID.max()
print(f'\n{MODIFIERS_ID_count} modifiers_id in the range {MODIFIERS_ID_min} - {MODIFIERS_ID_max}')
print(f'Is MODIFIERS_ID unique? {modifiers_record_count == MODIFIERS_ID_count}')

MD CELL - SPECIFY WHETHER ID IS OR IS NOT UNIQUE:
#### modifiers evaluation
`MODIFIERS_ID` is not unique
EVAL

*** MODIFIERS END ***
*** PIZZAS BEGIN ***

MD CELL:
### pizzas

CODE CELL:
print(f'ID Field: {pizzas_id_field}\n')
show_df(pizzas)

MD CELL:
#### pizzas Key Statistics

CODE CELL - REPLACE EVERYTHING IN ALL CAPS:
print(f'There are {pizzas_record_count} records in this table')

# Count of unique PIZZAS_ID
PIZZAS_ID_count = pizzas.PIZZAS_ID.nunique()
PIZZAS_ID_min = pizzas.PIZZAS_ID.min()
PIZZAS_ID_max = pizzas.PIZZAS_ID.max()
print(f'\n{PIZZAS_ID_count} pizzas_id in the range {PIZZAS_ID_min} - {PIZZAS_ID_max}')
print(f'Is PIZZAS_ID unique? {pizzas_record_count == PIZZAS_ID_count}')

MD CELL - SPECIFY WHETHER ID IS OR IS NOT UNIQUE:
#### pizzas evaluation
`PIZZAS_ID` is not unique
EVAL

*** PIZZAS END ***
*** PIZZA_TOPPINGS BEGIN ***

MD CELL:
### pizza_toppings

CODE CELL:
print(f'ID Field: {pizza_toppings_id_field}\n')
show_df(pizza_toppings)

MD CELL:
#### pizza_toppings Key Statistics

CODE CELL - REPLACE EVERYTHING IN ALL CAPS:
print(f'There are {pizza_toppings_record_count} records in this table')

# Count of unique PIZZA_TOPPINGS_ID
PIZZA_TOPPINGS_ID_count = pizza_toppings.PIZZA_TOPPINGS_ID.nunique()
PIZZA_TOPPINGS_ID_min = pizza_toppings.PIZZA_TOPPINGS_ID.min()
PIZZA_TOPPINGS_ID_max = pizza_toppings.PIZZA_TOPPINGS_ID.max()
print(f'\n{PIZZA_TOPPINGS_ID_count} pizza_toppings_id in the range {PIZZA_TOPPINGS_ID_min} - {PIZZA_TOPPINGS_ID_max}')
print(f'Is PIZZA_TOPPINGS_ID unique? {pizza_toppings_record_count == PIZZA_TOPPINGS_ID_count}')

MD CELL - SPECIFY WHETHER ID IS OR IS NOT UNIQUE:
#### pizza_toppings evaluation
`PIZZA_TOPPINGS_ID` is not unique
EVAL

*** PIZZA_TOPPINGS END ***
*** PIZZA_MODIFIERS BEGIN ***

MD CELL:
### pizza_modifiers

CODE CELL:
print(f'ID Field: {pizza_modifiers_id_field}\n')
show_df(pizza_modifiers)

MD CELL:
#### pizza_modifiers Key Statistics

CODE CELL - REPLACE EVERYTHING IN ALL CAPS:
print(f'There are {pizza_modifiers_record_count} records in this table')

# Count of unique PIZZA_MODIFIERS_ID
PIZZA_MODIFIERS_ID_count = pizza_modifiers.PIZZA_MODIFIERS_ID.nunique()
PIZZA_MODIFIERS_ID_min = pizza_modifiers.PIZZA_MODIFIERS_ID.min()
PIZZA_MODIFIERS_ID_max = pizza_modifiers.PIZZA_MODIFIERS_ID.max()
print(f'\n{PIZZA_MODIFIERS_ID_count} pizza_modifiers_id in the range {PIZZA_MODIFIERS_ID_min} - {PIZZA_MODIFIERS_ID_max}')
print(f'Is PIZZA_MODIFIERS_ID unique? {pizza_modifiers_record_count == PIZZA_MODIFIERS_ID_count}')

MD CELL - SPECIFY WHETHER ID IS OR IS NOT UNIQUE:
#### pizza_modifiers evaluation
`PIZZA_MODIFIERS_ID` is not unique
EVAL

*** PIZZA_MODIFIERS END ***

*(paste above into separate cells of the specified type*

### crust_types

In [65]:
print(f'ID Field: {crust_types_id_field}\n')
show_df(crust_types)

ID Field: crust_type_id

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   crust_type_id    2 non-null      int64
 1   crust_type_name  2 non-null      object
dtypes: int64(1), object(1)
memory usage: 160.0+ bytes
None

   crust_type_id  crust_type_name
0              1      hand-tossed
1              2  thin and crispy

#### crust_types Key Statistics

In [101]:
print(f'There are {crust_types_record_count} records in this table')

# Count of unique crust_type_id
crust_type_count = crust_types.crust_type_id.nunique()
crust_type_min = crust_types.crust_type_id.min()
crust_type_max = crust_types.crust_type_id.max()
print(f'\n{crust_type_count} crust_types_ids in the range {crust_type_min} - {crust_type_max}')
print(f'Is crust_type_id unique? {crust_types_record_count == crust_type_count}')

There are 2 records in this table
2 crust_types_ids in the range 1 - 2
Is crust_type_id unique? True

#### crust_types evaluation
`CRUST_TYPES_ID` is unique

***strictly a lookup table***

### sizes

In [77]:
print(f'ID Field: {sizes_id_field}\n')
show_df(sizes)

ID Field: size_id

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   size_id     4 non-null      int64
 1   size_name   4 non-null      object
 2   size_price  4 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 224.0+ bytes
None

   size_id size_name  size_price
0        1     small        8.99
1        2    medium       10.99
2        3     large       12.99
3        4   x-large       14.99

In [100]:
print(f'There are {sizes_record_count} records in this table')

# Count of unique size_id
size_id_count = sizes.size_id.nunique()
size_id_min = sizes.size_id.min()
size_id_max = sizes.size_id.max()
print(f'\n{size_id_count} sizes_ids in the range {size_id_min} - {size_id_max}')
print(f'Is size_id unique? {sizes_record_count == size_id_count}')

There are 4 records in this table
4 sizes_ids in the range 1 - 4
Is size_id unique? True

#### sizes evaluation
`SIZES_ID` is unique

***strictly a lookup table***

### toppings

In [82]:
print(f'ID Field: {toppings_id_field}\n')
show_df(toppings)

ID Field: topping_id

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   topping_id     9 non-null      int64
 1   topping_name   9 non-null      object
 2   topping_price  9 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 344.0+ bytes
None

   topping_id    topping_name  topping_price
0           1       pepperoni           0.99
1           2         sausage           0.99
2           3           bacon           0.99
3           4  canadian bacon           0.99
4           5           onion           0.49

#### toppings Key Statistics

In [99]:
print(f'There are {toppings_record_count} records in this table')

# Count of unique TOPPINGS_ID
topping_id_count = toppings.topping_id.nunique()
topping_id_min = toppings.topping_id.min()
topping_id_max = toppings.topping_id.max()
print(f'\n{topping_id_count} topping_ids in the range {topping_id_min} - {topping_id_max}')
print(f'Is topping_id unique? {toppings_record_count == topping_id_count}')

There are 9 records in this table
9 topping_ids in the range 1 - 9
Is topping_id unique? True

#### toppings evaluation
`TOPPINGS_ID` is unique

***strictly a lookup table***

### modifiers

In [84]:
print(f'ID Field: {modifiers_id_field}\n')
show_df(modifiers)

ID Field: modifier_id

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   modifier_id     3 non-null      int64
 1   modifier_name   3 non-null      object
 2   modifier_price  3 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 200.0+ bytes
None

   modifier_id modifier_name  modifier_price
0            1  extra cheese            1.99
1            2     well done            0.00
2            3     no cheese            0.00

#### modifiers Key Statistics

In [86]:
print(f'There are {modifiers_record_count} records in this table')

# Count of unique modifier_id
modifier_id_count = modifiers.modifier_id.nunique()
modifier_id_min = modifiers.modifier_id.min()
modifier_id_max = modifiers.modifier_id.max()
print(f'\n{modifier_id_count} modifiers_id_fields in the range {modifier_id_min} - {modifier_id_max}')
print(f'Is modifier_id unique? {modifiers_record_count == modifier_id_count}')

There are 3 records in this table
3 modifiers_id_fields in the range 1 - 3
Is modifier_id unique? True

#### modifiers evaluation
`modifier_id` is unique

***strictly a lookup table***

### pizzas

In [87]:
print(f'ID Field: {pizzas_id_field}\n')
show_df(pizzas)

ID Field: pizza_id

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20001 entries, 0 to 20000
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   pizza_id       20001 non-null  int64
 1   order_id       20001 non-null  int64
 2   crust_type_id  20001 non-null  int64
 3   size_id        20001 non-null  int64
dtypes: int64(4)
memory usage: 625.2 KB
None

   pizza_id  order_id  crust_type_id  size_id
0      1001      1001              2        1
1      1002      1001              2        2
2      1003      1002              2        1
3      1004      1003              2        3
4      1005      1004              1        4

#### pizzas Key Statistics

In [94]:
print(f'There are {pizzas_record_count} records in this table')

# Count of unique pizza_id
pizza_id_count = pizzas.pizza_id.nunique()
pizza_id_min = pizzas.pizza_id.min()
pizza_id_max = pizzas.pizza_id.max()
print(f'\n{pizza_id_count} pizza_ids in the range {pizza_id_min} - {pizza_id_max}')
print(f'Is pizza_id unique? {pizzas_record_count == pizza_id_count}')

There are 20001 records in this table
20001 pizza_id in the range 1001 - 21001
Is pizza_id unique? True

In [95]:
# Count of unique pizza_order_id
pizza_order_id_count = pizzas.order_id.nunique()
pizza_order_id_min = pizzas.order_id.min()
pizza_order_id_max = pizzas.order_id.max()
print(f'\n{pizza_order_id_count} order_id in the range {pizza_order_id_min} - {pizza_order_id_max}')
print(f'Is order_id unique? {pizzas_record_count == pizza_order_id_count}')

10000 order_id in the range 1001 - 11000
Is order_id unique? False

In [96]:
# most pizzas on one order
order_pizza_count = pizzas.order_id.value_counts()
order_pizza_max = order_pizza_count.max()
print(f'The biggest order has {order_pizza_max} pizzas')

The biggest order has 8 pizzas

#### pizzas evaluation
`pizza_id` is not unique
`pizza_order_id` is not unique


***strictly a lookup table***

### pizza_toppings

In [97]:
print(f'ID Field: {pizza_toppings_id_field}\n')
show_df(pizza_toppings)

ID Field: pizza_id

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47654 entries, 0 to 47653
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   pizza_id        47654 non-null  int64
 1   topping_id      47654 non-null  int64
 2   topping_amount  47654 non-null  object
dtypes: int64(2), object(1)
memory usage: 1.1+ MB
None

   pizza_id  topping_id topping_amount
0      1001           5          extra
1      1001           4        regular
2      1002           9        regular
3      1002           1        regular
4      1002           6        regular

print(f'ID Field: {pizza_toppings_id_field}\n')
show_df(pizza_toppings)

MD CELL:
#### pizza_toppings Key Statistics

CODE CELL - REPLACE EVERYTHING IN ALL CAPS:


MD CELL - SPECIFY WHETHER ID IS OR IS NOT UNIQUE:

In [103]:
print(f'There are {pizza_toppings_record_count} records in this table')

# Count of unique pizza_id
topped_pizza_count = pizza_toppings.pizza_id.nunique()
topped_pizza_min = pizza_toppings.pizza_id.min()
topped_pizza_max = pizza_toppings.pizza_id.max()
print(f'\n{topped_pizza_count} pizza_toppings_id_fields in the range {topped_pizza_min} - {topped_pizza_max}')
print(f'Is pizza_id unique? {pizza_toppings_record_count == topped_pizza_count}')

# Count of unique topping_id
pizza_topping_count = pizza_toppings.topping_id.nunique()
pizza_topping_min = pizza_toppings.topping_id.min()
pizza_topping_max = pizza_toppings.topping_id.max()
print(f'\n{pizza_topping_count} topping_id in the range {pizza_topping_min} - {pizza_topping_max}')
print(f'Is topping_id unique? {pizza_toppings_record_count == pizza_topping_count}')

# Count of unique pizza_id/topping_id combo
pizza_topping_combos = pizza_toppings.groupby(by=['pizza_id', 'topping_id']).count()
pizza_topping_combos_count = pizza_topping_combos.shape[0]
pizza_toppings_count = pizza_toppings.pizza_id.value_counts().value_counts()
print(f'\n{pizza_topping_combos_count} pizza_topping_combos')
print(f'Is pizza_topping_combo unique? {pizza_toppings_record_count == pizza_topping_combos_count}')

There are 47654 records in this table
17453 pizza_toppings_id_fields in the range 1001 - 21001
Is pizza_id unique? False
9 topping_id in the range 1 - 9
Is topping_id unique? False
47654 pizza_topping_combos
Is pizza_topping_combo unique? True

In [22]:
# Key Statistics
topped_pizza_count = pizza_toppings.pizza_id.nunique()
topped_pizza_min = pizza_toppings.pizza_id.min()
topped_pizza_max = pizza_toppings.pizza_id.max()
pizza_toppings_max = pizza_toppings.pizza_id.value_counts().max()
pizza_topping_freq = pizza_toppings.topping_id.value_counts()
pizza_topping_amount_freq = pizza_toppings.topping_amount.value_counts()

print(f'{topped_pizza_count} pizzas topped')
print(f'Is pizza_id unique? {topped_pizza_count == pizza_toppings_record_count}')
print(f'Is topping_id unique? {topped_pizza_count == pizza_toppings_record_count}')
print(f'Is pizza_id unique? {topped_pizza_count == pizza_toppings_record_count}')

print(f'Is every pizza topped? {topped_pizza_count == pizzas_record_count}')
print(f'Toppings available: {len(pizza_topping_freq)}, Max toppings on one pizza: {pizza_toppings_max}')
print(f'Toppings unused: {len(pizza_topping_freq) - pizza_toppings_max}')

17453 pizzas topped
Is pizza_id unique? False
Is topping_id unique? False
Is pizza_id unique? False
Is every pizza topped? False
Toppings available: 9, Max toppings on one pizza: 9
Toppings unused: 0

In [ ]:
#### pizza_toppings evaluation
`PIZZA_TOPPINGS_ID` is not unique
EVAL

In [23]:
# topping count frequency
pizza_toppings_count

1    5070
2    4336
3    3207
4    2163
5    1353
6     717
7     371
8     149
9      87
Name: pizza_id, dtype: int64

In [24]:
# identify topping amounts
pizza_toppings.topping_amount.value_counts().head()

regular    23704
extra      14301
double      7318
light       2331
Name: topping_amount, dtype: int64

In [25]:
# frequency by topping
pizza_toppings.topping_id.value_counts().sort_index()

1    5415
2    5273
3    5276
4    5340
5    5305
6    5286
7    5315
8    5177
9    5267
Name: topping_id, dtype: int64

### pizza_modifiers

CODE CELL:
print(f'ID Field: {pizza_modifiers_id_field}\n')
show_df(pizza_modifiers)

MD CELL:
#### pizza_modifiers Key Statistics

CODE CELL - REPLACE EVERYTHING IN ALL CAPS:
print(f'There are {pizza_modifiers_record_count} records in this table')

# Count of unique PIZZA_MODIFIERS_ID
PIZZA_MODIFIERS_ID_count = pizza_modifiers.PIZZA_MODIFIERS_ID.nunique()
PIZZA_MODIFIERS_ID_min = pizza_modifiers.PIZZA_MODIFIERS_ID.min()
PIZZA_MODIFIERS_ID_max = pizza_modifiers.PIZZA_MODIFIERS_ID.max()
print(f'{PIZZA_MODIFIERS_ID_count} pizza_modifiers_id_fields in the range {PIZZA_MODIFIERS_ID_min} - {PIZZA_MODIFIERS_ID_max}')
print(f'Is PIZZA_MODIFIERS_ID unique? {pizza_modifiers_record_count == PIZZA_MODIFIERS_ID_count}')

MD CELL - SPECIFY WHETHER ID IS OR IS NOT UNIQUE:
#### pizza_modifiers evaluation
`PIZZA_MODIFIERS_ID` is not unique
EVAL

In [26]:
show_df(pizza_modifiers)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6585 entries, 0 to 6584
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pizza_id     6585 non-null   int64
 1   modifier_id  6585 non-null   int64
dtypes: int64(2)
memory usage: 103.0 KB
None

   pizza_id  modifier_id
0      1005            1
1      1009            1
2      1022            3
3      1025            2
4      1026            3

In [27]:
# Key Statistics
modified_pizzas_count = pizza_modifiers.pizza_id.nunique()
pizza_modified_min = pizza_modifiers.pizza_id.min()
pizza_modified_max = pizza_modifiers.pizza_id.max()

print(f'{modified_pizzas_count} pizzas modified')
print(f'Is pizza_id unique? {modified_pizzas_count == pizza_modifiers_record_count}')
print(f'Is every pizza modified? {modified_pizzas_count == pizzas_record_count}')

6585 pizzas modified
Is pizza_id unique? True
Is every pizza modified? False

In [28]:
# modifier frequency
print(pizza_modifiers.modifier_id.value_counts().head())

2    2209
3    2193
1    2183
Name: modifier_id, dtype: int64

In [29]:
pizza_modifiers.modifier_id.nunique()

3

## Questions

### Q.1
**What information is stored in the `toppings` table? How does this table relate to the `pizzas` table?**

Topping id, name, and price. 

`pizzas.pizza_id` **1:0-M** `pizza_toppings.pizza_id`

`pizza_toppings.topping_id` **M:1** `toppings.topping_id`

### Q.2
**What information is stored in the `modifiers` table? How does this table relate to the `pizzas` table?**

Modifier id, name, and price. 

`pizzas.pizza_id` **1:0-1** `pizza_modifiers.pizza_id`

`pizza_modifiers.modifier_id` **M:1** `modifiers.modifier_id`

### Q.3
**How are the `pizzas` and `sizes` tables related?**

`pizzas.size_id` **M:1** `sizes.size_id`

### Q.4
**What other tables are in the database?**

`pizzas.size_id` **M:1** `crusts.crust_id`

### Q.5
**How many unique toppings are there?**

In [30]:
print(topping_count)

NameError: name 'topping_count' is not defined

### Q.6
**How many unique orders are in this dataset?**

In [31]:
print(f'There are {order_count} unique orders')

There are 10000 unique orders

### Q.7
**Which size of pizza is sold the most?**

### Q.8
**How many pizzas have been sold in total?**

### Q.9
**What is the most common size of pizza ordered?**

### Q.10
**What is the average number of pizzas per order?**

### Q.11
**Find the total price for each order. The total price is the sum of:**

- **The price based on pizza size**
- **Any modifiers that need to be charged for**
- **The sum of the topping prices**

**Topping price is affected by the amount of the topping specified. A light amount is half of the regular price. An extra amount is 1.5 times the regular price, and double of the topping is double the price.**

### Q.12
**What is the average price of pizzas that have no cheese?**

### Q.13
**What is the most common size for pizzas that have extra cheese?**

### Q.14
**What is the most common topping for pizzas that are well done?**

### Q.15
**How many pizzas are only cheese (i.e. have no toppings)?**

### Q.16
**How many orders consist of pizza(s) that are only cheese? What is the average price of these orders? The most common pizza size?**

### Q.17
**How may large pizzas have olives on them?**

### Q.18
**What is the average number of toppings per pizza?**

### Q.19
**What is the average number of pizzas per order?**

### Q.20
**What is the average pizza price?**

### Q.21
**What is the average order total?**

### Q.22
**What is the average number of items per order?**

### Q.23
**What is the average number of toppings per pizza for each size of pizza?**

### Q.24
**What is the average order total for orders that contain more than 1 pizza?**

### Q.25
**What is the most common pizza size for orders that contain only a single pizza?**

### Q.26
**How many orders consist of 3+ pizzas? What is the average number of toppings for these orders?**

### Q.27
**What is the most common topping on large and extra large pizzas?**

### Q.28
**What is the most common topping for orders that consist of 2 pizzas?**

### Q.29
**Which size of pizza most frequently has modifiers?**

### Q.30
**What percentage of pizzas with hot sauce have extra cheese?**

### Q.31
**What is the average order price for orders that have at least 1 pizza with pineapple?**