# Zach Gulde's sqlite3/pandas Exercises

# Purpose

Reviewing tutorial prepared by Zach Gulde.

## Environment Setup

In [1]:
import numpy as np
import pandas as pd
import sqlite3

In [2]:
# show_df command displays info and head functions
def show_df(df, heads=5):
    if heads > len(df):
        heads = len(df)
    print(df.info())
    display(df.head(heads))

## Getting the Data Into Pandas

The `sqlite3` module is part of the python standard library, so you shouldn't
need to install anything.

```python
import pandas as pd
import sqlite3

connection = sqlite3.connect('pizza.sqlite') # or specify the path to the db file

pizzas = pd.read_sql('SELECT * FROM pizzas', connection)
```

In [3]:
connection = sqlite3.connect('pizza.sqlite') # or specify the path to the db file

## Exploration

Get structure of database

In [4]:
pizza_master = pd.read_sql('SELECT * FROM sqlite_master', connection)
display(pizza_master)

,type,name,tbl_name,rootpage,sql
0,table,crust_types,crust_types,2,CREATE TABLE crust_types(\n crust_type_id I...
1,table,sizes,sizes,3,CREATE TABLE sizes(\n size_id INTEGER PRIMA...
2,table,toppings,toppings,4,CREATE TABLE toppings(\n topping_id INTEGER...
3,table,modifiers,modifiers,5,CREATE TABLE modifiers(\n modifier_id INTEG...
4,table,pizzas,pizzas,6,CREATE TABLE pizzas(\n pizza_id INTEGER PRI...
5,table,pizza_toppings,pizza_toppings,7,CREATE TABLE pizza_toppings(\n pizza_id INT...
6,index,sqlite_autoindex_pizza_toppings_1,pizza_toppings,8,None
7,table,pizza_modifiers,pizza_modifiers,9,CREATE TABLE pizza_modifiers(\n pizza_id IN...
8,index,sqlite_autoindex_pizza_modifiers_1,pizza_modifiers,10,None

get list of tables, use loops to spit out code for creating and displaying DataFrames from sqlite3

In [5]:
pizza_tables = pizza_master[pizza_master.type == 'table'].name.to_list()

In [6]:
# loop through to get create commands
for t in pizza_tables:
    print(f'{t} = pd.read_sql("SELECT * FROM {t}", connection)')
    print(f'{t}_record_count = {t}.shape[0]')
#     print(f'{t}_id_field = {t}.columns[0]')

crust_types = pd.read_sql("SELECT * FROM crust_types", connection)
crust_types_record_count = crust_types.shape[0]
sizes = pd.read_sql("SELECT * FROM sizes", connection)
sizes_record_count = sizes.shape[0]
toppings = pd.read_sql("SELECT * FROM toppings", connection)
toppings_record_count = toppings.shape[0]
modifiers = pd.read_sql("SELECT * FROM modifiers", connection)
modifiers_record_count = modifiers.shape[0]
pizzas = pd.read_sql("SELECT * FROM pizzas", connection)
pizzas_record_count = pizzas.shape[0]
pizza_toppings = pd.read_sql("SELECT * FROM pizza_toppings", connection)
pizza_toppings_record_count = pizza_toppings.shape[0]
pizza_modifiers = pd.read_sql("SELECT * FROM pizza_modifiers", connection)
pizza_modifiers_record_count = pizza_modifiers.shape[0]

*(Paste above into next cell)*

In [7]:
crust_types = pd.read_sql("SELECT * FROM crust_types", connection)
crust_types_record_count = crust_types.shape[0]
crust_types_id_field = crust_types.columns[0]
sizes = pd.read_sql("SELECT * FROM sizes", connection)
sizes_record_count = sizes.shape[0]
sizes_id_field = sizes.columns[0]
toppings = pd.read_sql("SELECT * FROM toppings", connection)
toppings_record_count = toppings.shape[0]
toppings_id_field = toppings.columns[0]
modifiers = pd.read_sql("SELECT * FROM modifiers", connection)
modifiers_record_count = modifiers.shape[0]
modifiers_id_field = modifiers.columns[0]
pizzas = pd.read_sql("SELECT * FROM pizzas", connection)
pizzas_record_count = pizzas.shape[0]
pizzas_id_field = pizzas.columns[0]
pizza_toppings = pd.read_sql("SELECT * FROM pizza_toppings", connection)
pizza_toppings_record_count = pizza_toppings.shape[0]
pizza_toppings_id_field = pizza_toppings.columns[0]
pizza_modifiers = pd.read_sql("SELECT * FROM pizza_modifiers", connection)
pizza_modifiers_record_count = pizza_modifiers.shape[0]
pizza_modifiers_id_field = pizza_modifiers.columns[0]

In [8]:
# loop throught to get show_df commands
for t in pizza_tables:
    print(f'*** {t.upper()} BEGIN ***')
    print(f'\nMD CELL:\n### {t}')
    print(f'\nCODE CELL:\nprint(f\'ID Field: {{{t}_id_field}}\\n\')')
    print(f'show_df({t})')
    print(f'\nMD CELL:\n#### {t} Key Statistics')
    print(f'\nCODE CELL - REPLACE EVERYTHING IN ALL CAPS:')
    print(f'print(f\'There are {{{t}_record_count}} records in this table\')\n')
    print(f'# Count of unique {t.upper()}_ID')
    print(f'{t.upper()}_ID_count = {t}.{t.upper()}_ID.nunique()')
    print(f'{t.upper()}_ID_min = {t}.{t.upper()}_ID.min()')
    print(f'{t.upper()}_ID_max = {t}.{t.upper()}_ID.max()')
    print(f'print(f\'\\n{{{t.upper()}_ID_count}} {t}_id in the range {{{t.upper()}_ID_min}} - {{{t.upper()}_ID_max}}\')')
    print(f'print(f\'Is {t.upper()}_ID unique? {{{t}_record_count == {t.upper()}_ID_count}}\')')
    print(f'\nMD CELL - SPECIFY WHETHER ID IS OR IS NOT UNIQUE:\n#### {t} evaluation')
    print(f'`{t.upper()}_ID` is not unique\nEVAL')
    print(f'\n*** {t.upper()} END ***')

*** CRUST_TYPES BEGIN ***

MD CELL:
### crust_types

CODE CELL:
print(f'ID Field: {crust_types_id_field}\n')
show_df(crust_types)

MD CELL:
#### crust_types Key Statistics

CODE CELL - REPLACE EVERYTHING IN ALL CAPS:
print(f'There are {crust_types_record_count} records in this table')

# Count of unique CRUST_TYPES_ID
CRUST_TYPES_ID_count = crust_types.CRUST_TYPES_ID.nunique()
CRUST_TYPES_ID_min = crust_types.CRUST_TYPES_ID.min()
CRUST_TYPES_ID_max = crust_types.CRUST_TYPES_ID.max()
print(f'\n{CRUST_TYPES_ID_count} crust_types_id in the range {CRUST_TYPES_ID_min} - {CRUST_TYPES_ID_max}')
print(f'Is CRUST_TYPES_ID unique? {crust_types_record_count == CRUST_TYPES_ID_count}')

MD CELL - SPECIFY WHETHER ID IS OR IS NOT UNIQUE:
#### crust_types evaluation
`CRUST_TYPES_ID` is not unique
EVAL

*** CRUST_TYPES END ***
*** SIZES BEGIN ***

MD CELL:
### sizes

CODE CELL:
print(f'ID Field: {sizes_id_field}\n')
show_df(sizes)

MD CELL:
#### sizes Key Statistics

CODE CELL - REPLACE EVERYTHING IN ALL CAPS:
print(f'There are {sizes_record_count} records in this table')

# Count of unique SIZES_ID
SIZES_ID_count = sizes.SIZES_ID.nunique()
SIZES_ID_min = sizes.SIZES_ID.min()
SIZES_ID_max = sizes.SIZES_ID.max()
print(f'\n{SIZES_ID_count} sizes_id in the range {SIZES_ID_min} - {SIZES_ID_max}')
print(f'Is SIZES_ID unique? {sizes_record_count == SIZES_ID_count}')

MD CELL - SPECIFY WHETHER ID IS OR IS NOT UNIQUE:
#### sizes evaluation
`SIZES_ID` is not unique
EVAL

*** SIZES END ***
*** TOPPINGS BEGIN ***

MD CELL:
### toppings

CODE CELL:
print(f'ID Field: {toppings_id_field}\n')
show_df(toppings)

MD CELL:
#### toppings Key Statistics

CODE CELL - REPLACE EVERYTHING IN ALL CAPS:
print(f'There are {toppings_record_count} records in this table')

# Count of unique TOPPINGS_ID
TOPPINGS_ID_count = toppings.TOPPINGS_ID.nunique()
TOPPINGS_ID_min = toppings.TOPPINGS_ID.min()
TOPPINGS_ID_max = toppings.TOPPINGS_ID.max()
print(f'\n{TOPPINGS_ID_count} toppings_id in the range {TOPPINGS_ID_min} - {TOPPINGS_ID_max}')
print(f'Is TOPPINGS_ID unique? {toppings_record_count == TOPPINGS_ID_count}')

MD CELL - SPECIFY WHETHER ID IS OR IS NOT UNIQUE:
#### toppings evaluation
`TOPPINGS_ID` is not unique
EVAL

*** TOPPINGS END ***
*** MODIFIERS BEGIN ***

MD CELL:
### modifiers

CODE CELL:
print(f'ID Field: {modifiers_id_field}\n')
show_df(modifiers)

MD CELL:
#### modifiers Key Statistics

CODE CELL - REPLACE EVERYTHING IN ALL CAPS:
print(f'There are {modifiers_record_count} records in this table')

# Count of unique MODIFIERS_ID
MODIFIERS_ID_count = modifiers.MODIFIERS_ID.nunique()
MODIFIERS_ID_min = modifiers.MODIFIERS_ID.min()
MODIFIERS_ID_max = modifiers.MODIFIERS_ID.max()
print(f'\n{MODIFIERS_ID_count} modifiers_id in the range {MODIFIERS_ID_min} - {MODIFIERS_ID_max}')
print(f'Is MODIFIERS_ID unique? {modifiers_record_count == MODIFIERS_ID_count}')

MD CELL - SPECIFY WHETHER ID IS OR IS NOT UNIQUE:
#### modifiers evaluation
`MODIFIERS_ID` is not unique
EVAL

*** MODIFIERS END ***
*** PIZZAS BEGIN ***

MD CELL:
### pizzas

CODE CELL:
print(f'ID Field: {pizzas_id_field}\n')
show_df(pizzas)

MD CELL:
#### pizzas Key Statistics

CODE CELL - REPLACE EVERYTHING IN ALL CAPS:
print(f'There are {pizzas_record_count} records in this table')

# Count of unique PIZZAS_ID
PIZZAS_ID_count = pizzas.PIZZAS_ID.nunique()
PIZZAS_ID_min = pizzas.PIZZAS_ID.min()
PIZZAS_ID_max = pizzas.PIZZAS_ID.max()
print(f'\n{PIZZAS_ID_count} pizzas_id in the range {PIZZAS_ID_min} - {PIZZAS_ID_max}')
print(f'Is PIZZAS_ID unique? {pizzas_record_count == PIZZAS_ID_count}')

MD CELL - SPECIFY WHETHER ID IS OR IS NOT UNIQUE:
#### pizzas evaluation
`PIZZAS_ID` is not unique
EVAL

*** PIZZAS END ***
*** PIZZA_TOPPINGS BEGIN ***

MD CELL:
### pizza_toppings

CODE CELL:
print(f'ID Field: {pizza_toppings_id_field}\n')
show_df(pizza_toppings)

MD CELL:
#### pizza_toppings Key Statistics

CODE CELL - REPLACE EVERYTHING IN ALL CAPS:
print(f'There are {pizza_toppings_record_count} records in this table')

# Count of unique PIZZA_TOPPINGS_ID
PIZZA_TOPPINGS_ID_count = pizza_toppings.PIZZA_TOPPINGS_ID.nunique()
PIZZA_TOPPINGS_ID_min = pizza_toppings.PIZZA_TOPPINGS_ID.min()
PIZZA_TOPPINGS_ID_max = pizza_toppings.PIZZA_TOPPINGS_ID.max()
print(f'\n{PIZZA_TOPPINGS_ID_count} pizza_toppings_id in the range {PIZZA_TOPPINGS_ID_min} - {PIZZA_TOPPINGS_ID_max}')
print(f'Is PIZZA_TOPPINGS_ID unique? {pizza_toppings_record_count == PIZZA_TOPPINGS_ID_count}')

MD CELL - SPECIFY WHETHER ID IS OR IS NOT UNIQUE:
#### pizza_toppings evaluation
`PIZZA_TOPPINGS_ID` is not unique
EVAL

*** PIZZA_TOPPINGS END ***
*** PIZZA_MODIFIERS BEGIN ***

MD CELL:
### pizza_modifiers

CODE CELL:
print(f'ID Field: {pizza_modifiers_id_field}\n')
show_df(pizza_modifiers)

MD CELL:
#### pizza_modifiers Key Statistics

CODE CELL - REPLACE EVERYTHING IN ALL CAPS:
print(f'There are {pizza_modifiers_record_count} records in this table')

# Count of unique PIZZA_MODIFIERS_ID
PIZZA_MODIFIERS_ID_count = pizza_modifiers.PIZZA_MODIFIERS_ID.nunique()
PIZZA_MODIFIERS_ID_min = pizza_modifiers.PIZZA_MODIFIERS_ID.min()
PIZZA_MODIFIERS_ID_max = pizza_modifiers.PIZZA_MODIFIERS_ID.max()
print(f'\n{PIZZA_MODIFIERS_ID_count} pizza_modifiers_id in the range {PIZZA_MODIFIERS_ID_min} - {PIZZA_MODIFIERS_ID_max}')
print(f'Is PIZZA_MODIFIERS_ID unique? {pizza_modifiers_record_count == PIZZA_MODIFIERS_ID_count}')

MD CELL - SPECIFY WHETHER ID IS OR IS NOT UNIQUE:
#### pizza_modifiers evaluation
`PIZZA_MODIFIERS_ID` is not unique
EVAL

*** PIZZA_MODIFIERS END ***

*(paste above into separate cells of the specified type*

### crust_types

In [9]:
print(f'ID Field: {crust_types_id_field}\n')
show_df(crust_types)

ID Field: crust_type_id

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   crust_type_id    2 non-null      int64
 1   crust_type_name  2 non-null      object
dtypes: int64(1), object(1)
memory usage: 160.0+ bytes
None

   crust_type_id  crust_type_name
0              1      hand-tossed
1              2  thin and crispy

#### crust_types Key Statistics

In [10]:
print(f'There are {crust_types_record_count} records in this table')

# Count of unique crust_type_id
crust_type_count = crust_types.crust_type_id.nunique()
crust_type_min = crust_types.crust_type_id.min()
crust_type_max = crust_types.crust_type_id.max()
print(f'\n{crust_type_count} crust_types_ids in the range {crust_type_min} - {crust_type_max}')
print(f'Is crust_type_id unique? {crust_types_record_count == crust_type_count}')

There are 2 records in this table

2 crust_types_ids in the range 1 - 2
Is crust_type_id unique? True

#### crust_types evaluation
`crust_type_id` is unique **and** the primary key

***strictly a lookup table***

In [11]:
crust_types.set_index('crust_type_id', inplace=True)

### sizes

In [12]:
print(f'ID Field: {sizes_id_field}\n')
show_df(sizes)

ID Field: size_id

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   size_id     4 non-null      int64
 1   size_name   4 non-null      object
 2   size_price  4 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 224.0+ bytes
None

   size_id size_name  size_price
0        1     small        8.99
1        2    medium       10.99
2        3     large       12.99
3        4   x-large       14.99

In [13]:
print(f'There are {sizes_record_count} records in this table')

# Count of unique size_id
size_id_count = sizes.size_id.nunique()
size_id_min = sizes.size_id.min()
size_id_max = sizes.size_id.max()
print(f'\n{size_id_count} sizes_ids in the range {size_id_min} - {size_id_max}')
print(f'Is size_id unique? {sizes_record_count == size_id_count}')

There are 4 records in this table

4 sizes_ids in the range 1 - 4
Is size_id unique? True

#### sizes evaluation
`size_id` is unique **and** the primary key

***strictly a lookup table***

In [14]:
sizes.set_index('size_id', inplace=True)

### toppings

In [15]:
print(f'ID Field: {toppings_id_field}\n')
show_df(toppings)

ID Field: topping_id

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   topping_id     9 non-null      int64
 1   topping_name   9 non-null      object
 2   topping_price  9 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 344.0+ bytes
None

   topping_id    topping_name  topping_price
0           1       pepperoni           0.99
1           2         sausage           0.99
2           3           bacon           0.99
3           4  canadian bacon           0.99
4           5           onion           0.49

#### toppings Key Statistics

In [16]:
print(f'There are {toppings_record_count} records in this table')

# Count of unique TOPPINGS_ID
topping_id_count = toppings.topping_id.nunique()
topping_id_min = toppings.topping_id.min()
topping_id_max = toppings.topping_id.max()
print(f'\n{topping_id_count} topping_ids in the range {topping_id_min} - {topping_id_max}')
print(f'Is topping_id unique? {toppings_record_count == topping_id_count}')

There are 9 records in this table

9 topping_ids in the range 1 - 9
Is topping_id unique? True

#### toppings evaluation
`topping_id` is unique **and** the primary key

***strictly a lookup table***

In [17]:
toppings.set_index('topping_id', inplace=True)

### modifiers

In [18]:
print(f'ID Field: {modifiers_id_field}\n')
show_df(modifiers)

ID Field: modifier_id

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   modifier_id     3 non-null      int64
 1   modifier_name   3 non-null      object
 2   modifier_price  3 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 200.0+ bytes
None

   modifier_id modifier_name  modifier_price
0            1  extra cheese            1.99
1            2     well done            0.00
2            3     no cheese            0.00

#### modifiers Key Statistics

In [19]:
print(f'There are {modifiers_record_count} records in this table')

# Count of unique modifier_id
modifier_id_count = modifiers.modifier_id.nunique()
modifier_id_min = modifiers.modifier_id.min()
modifier_id_max = modifiers.modifier_id.max()
print(f'\n{modifier_id_count} modifiers_id_fields in the range {modifier_id_min} - {modifier_id_max}')
print(f'Is modifier_id unique? {modifiers_record_count == modifier_id_count}')

There are 3 records in this table

3 modifiers_id_fields in the range 1 - 3
Is modifier_id unique? True

#### modifiers evaluation
`modifier_id` is unique **and** the primary key

***strictly a lookup table***

In [20]:
modifiers.set_index('modifier_id', inplace=True)

### pizzas

In [21]:
print(f'ID Field: {pizzas_id_field}\n')
show_df(pizzas)

ID Field: pizza_id

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20001 entries, 0 to 20000
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   pizza_id       20001 non-null  int64
 1   order_id       20001 non-null  int64
 2   crust_type_id  20001 non-null  int64
 3   size_id        20001 non-null  int64
dtypes: int64(4)
memory usage: 625.2 KB
None

   pizza_id  order_id  crust_type_id  size_id
0      1001      1001              2        1
1      1002      1001              2        2
2      1003      1002              2        1
3      1004      1003              2        3
4      1005      1004              1        4

#### pizzas Key Statistics

In [22]:
print(f'There are {pizzas_record_count} records in this table')

# Count of unique pizza_id
pizza_id_count = pizzas.pizza_id.nunique()
pizza_id_min = pizzas.pizza_id.min()
pizza_id_max = pizzas.pizza_id.max()
print(f'\n{pizza_id_count} pizza_ids in the range {pizza_id_min} - {pizza_id_max}')
print(f'Is pizza_id unique? {pizzas_record_count == pizza_id_count}')

There are 20001 records in this table

20001 pizza_ids in the range 1001 - 21001
Is pizza_id unique? True

In [23]:
# Count of unique pizza_order_id
pizza_order_id_count = pizzas.order_id.nunique()
pizza_order_id_min = pizzas.order_id.min()
pizza_order_id_max = pizzas.order_id.max()
print(f'\n{pizza_order_id_count} order_id in the range {pizza_order_id_min} - {pizza_order_id_max}')
print(f'Is order_id unique? {pizzas_record_count == pizza_order_id_count}')

10000 order_id in the range 1001 - 11000
Is order_id unique? False

In [24]:
# most pizzas on one order
order_pizza_count = pizzas.order_id.value_counts()
order_pizza_max = order_pizza_count.max()
print(f'The biggest order has {order_pizza_max} pizzas')

The biggest order has 8 pizzas

#### pizzas evaluation
`pizza_id` is unique **and** the primary key

`order_id` is not unique


***primary values table***

In [25]:
pizzas.set_index('pizza_id', inplace=True)

### pizza_toppings

In [26]:
print(f'ID Field: {pizza_toppings_id_field}\n')
show_df(pizza_toppings)

ID Field: pizza_id

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47654 entries, 0 to 47653
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   pizza_id        47654 non-null  int64
 1   topping_id      47654 non-null  int64
 2   topping_amount  47654 non-null  object
dtypes: int64(2), object(1)
memory usage: 1.1+ MB
None

   pizza_id  topping_id topping_amount
0      1001           5          extra
1      1001           4        regular
2      1002           9        regular
3      1002           1        regular
4      1002           6        regular

#### pizza_toppings Key Statistics

In [27]:
print(f'There are {pizza_toppings_record_count} records in this table')

# Count of unique pizza_id
topped_pizza_count = pizza_toppings.pizza_id.nunique()
topped_pizza_min = pizza_toppings.pizza_id.min()
topped_pizza_max = pizza_toppings.pizza_id.max()
print(f'\n{topped_pizza_count} pizza_ids in the range {topped_pizza_min} - {topped_pizza_max}')
print(f'Is pizza_id unique? {pizza_toppings_record_count == topped_pizza_count}')
print(f'Is every pizza topped? {topped_pizza_count == pizzas_record_count}')

There are 47654 records in this table

17453 pizza_ids in the range 1001 - 21001
Is pizza_id unique? False
Is every pizza topped? False

In [28]:
# Count of unique topping_id
pizza_topping_count = pizza_toppings.topping_id.nunique()
pizza_topping_min = pizza_toppings.topping_id.min()
pizza_topping_max = pizza_toppings.topping_id.max()
print(f'\n{pizza_topping_count} topping_ids in the range {pizza_topping_min} - {pizza_topping_max}')
print(f'Is topping_id unique? {pizza_toppings_record_count == pizza_topping_count}')

9 topping_ids in the range 1 - 9
Is topping_id unique? False

In [29]:
# Count of unique pizza_id/topping_id combo
pizza_topping_combos = pizza_toppings.groupby(by=['pizza_id', 'topping_id']).count()
pizza_topping_combos_count = pizza_topping_combos.shape[0]
pizza_toppings_count = pizza_toppings.pizza_id.value_counts().value_counts()
print(f'\n{pizza_topping_combos_count} pizza_topping_combos')
print(f'Is pizza_topping_combo unique? {pizza_toppings_record_count == pizza_topping_combos_count}')

47654 pizza_topping_combos
Is pizza_topping_combo unique? True

In [30]:
# Topping counts and frequencies
pizza_toppings_max = pizza_toppings.pizza_id.value_counts().max()
pizza_topping_freq = pizza_toppings.topping_id.value_counts()
pizza_topping_amount_freq = pizza_toppings.topping_amount.value_counts()

print(f'Toppings available: {len(pizza_topping_freq)}, Max toppings on one pizza: {pizza_toppings_max}')
print(f'Toppings unused: {len(pizza_topping_freq) - pizza_toppings_max}')

Toppings available: 9, Max toppings on one pizza: 9
Toppings unused: 0

In [31]:
# topping count frequency
pizza_toppings_count

1    5070
2    4336
3    3207
4    2163
5    1353
6     717
7     371
8     149
9      87
Name: pizza_id, dtype: int64

In [32]:
# frequency by topping
pizza_toppings.topping_id.value_counts().sort_index()

1    5415
2    5273
3    5276
4    5340
5    5305
6    5286
7    5315
8    5177
9    5267
Name: topping_id, dtype: int64

In [33]:
# identify topping amounts
pizza_toppings.topping_amount.value_counts().head()

regular    23704
extra      14301
double      7318
light       2331
Name: topping_amount, dtype: int64

#### pizza_toppings evaluation
`pizza_id` is not unique

`topping_id` is not unique

[`pizza_id`, `topping_id`] is unique **and** is the primary key

`topping_amount` should have it's own id and lookup table

In [34]:
pizza_toppings.set_index(['pizza_id', 'topping_id'], inplace=True)

### pizza_modifiers

In [35]:
print(f'ID Field: {pizza_modifiers_id_field}\n')
show_df(pizza_modifiers)

ID Field: pizza_id

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6585 entries, 0 to 6584
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pizza_id     6585 non-null   int64
 1   modifier_id  6585 non-null   int64
dtypes: int64(2)
memory usage: 103.0 KB
None

   pizza_id  modifier_id
0      1005            1
1      1009            1
2      1022            3
3      1025            2
4      1026            3

#### pizza_modifiers Key Statistics

In [36]:
print(f'There are {pizza_modifiers_record_count} records in this table')

# Count of unique pizza_id
modified_pizza_count = pizza_modifiers.pizza_id.nunique()
modified_pizza_min = pizza_modifiers.pizza_id.min()
modified_pizza_max = pizza_modifiers.pizza_id.max()
print(f'{modified_pizza_count} pizza_ids in the range {pizza_id_min} - {pizza_id_max}')
print(f'Is pizza_id unique? {pizza_modifiers_record_count == modified_pizza_count}')
print(f'Is every pizza modified? {modified_pizza_count == pizzas_record_count}')

There are 6585 records in this table
6585 pizza_ids in the range 1001 - 21001
Is pizza_id unique? True
Is every pizza modified? False

In [37]:
# modifier frequency
print(pizza_modifiers.modifier_id.value_counts().head())

2    2209
3    2193
1    2183
Name: modifier_id, dtype: int64

In [38]:
pizza_modifiers.modifier_id.nunique()

3

#### pizza_modifiers evaluation
`pizza_id` is unique **and** is the primary key

In [39]:
pizza_modifiers.set_index('pizza_id', inplace=True)

## Key Merges

### toppings merge (`df_toppings`)

In [40]:
df_toppings = pizzas.copy().join(pizza_toppings, how='left')
df_toppings = df_toppings.join(toppings, how='left')
show_df(df_toppings)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 47654 entries, (1001, 5) to (21001, 8)
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        47654 non-null  int64
 1   crust_type_id   47654 non-null  int64
 2   size_id         47654 non-null  int64
 3   topping_amount  47654 non-null  object
 4   topping_name    47654 non-null  object
 5   topping_price   47654 non-null  float64
dtypes: float64(1), int64(3), object(2)
memory usage: 2.5+ MB
None

                     order_id  crust_type_id  size_id topping_amount  \
pizza_id topping_id
1001     5               1001              2        1          extra
         4               1001              2        1        regular
1002     9               1001              2        2        regular
         1               1001              2        2        regular
         6               1001              2        2        regular

                       topping_name  topping_price
pizza_id topping_id
1001     5                    onion           0.49
         4           canadian bacon           0.99
1002     9                hot sauce           0.19
         1                pepperoni           0.99
         6                  peppers           0.49

In [41]:
topping_multipliers={'regular':1,
'extra':1.5,
'double':2,
'light':.5,}
# try:
#     df_toppings.rename(columns = {'topping_price':'topping_base_price'}, inplace=True)
# except:
#     pass
df_toppings['multiplier'] = df_toppings.topping_amount.apply(lambda x: topping_multipliers[x])
df_toppings['topping_charge'] = np.floor(100 * (df_toppings.topping_price * df_toppings.multiplier)) / 100

show_df(df_toppings)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 47654 entries, (1001, 5) to (21001, 8)
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        47654 non-null  int64
 1   crust_type_id   47654 non-null  int64
 2   size_id         47654 non-null  int64
 3   topping_amount  47654 non-null  object
 4   topping_name    47654 non-null  object
 5   topping_price   47654 non-null  float64
 6   multiplier      47654 non-null  float64
 7   topping_charge  47654 non-null  float64
dtypes: float64(3), int64(3), object(2)
memory usage: 3.2+ MB
None

                     order_id  crust_type_id  size_id topping_amount  \
pizza_id topping_id
1001     5               1001              2        1          extra
         4               1001              2        1        regular
1002     9               1001              2        2        regular
         1               1001              2        2        regular
         6               1001              2        2        regular

                       topping_name  topping_price  multiplier  topping_charge
pizza_id topping_id
1001     5                    onion           0.49         1.5            0.73
         4           canadian bacon           0.99         1.0            0.99
1002     9                hot sauce           0.19         1.0            0.19
         1                pepperoni           0.99         1.0            0.99
         6                  peppers           0.49         1.0            0.49

In [42]:
df_topping_mult = pd.pivot_table(
    df_toppings, values=['multiplier'], index=['pizza_id'], columns='topping_name'
)
show_df(df_topping_mult)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17453 entries, 1001 to 21001
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   (multiplier, bacon)           5276 non-null   float64
 1   (multiplier, canadian bacon)  5340 non-null   float64
 2   (multiplier, hot sauce)       5267 non-null   float64
 3   (multiplier, olives)          5315 non-null   float64
 4   (multiplier, onion)           5305 non-null   float64
 5   (multiplier, pepperoni)       5415 non-null   float64
 6   (multiplier, peppers)         5286 non-null   float64
 7   (multiplier, pineapple)       5177 non-null   float64
 8   (multiplier, sausage)         5273 non-null   float64
dtypes: float64(9)
memory usage: 1.3 MB
None

             multiplier                                                  \
topping_name      bacon canadian bacon hot sauce olives onion pepperoni
pizza_id
1001                NaN            1.0       NaN    NaN   1.5       NaN
1002                NaN            NaN       1.0    1.5   1.0       1.0
1003                NaN            NaN       NaN    NaN   NaN       NaN
1004                NaN            NaN       NaN    NaN   1.5       NaN
1005                1.0            NaN       NaN    NaN   1.5       1.5


topping_name peppers pineapple sausage
pizza_id
1001             NaN       NaN     NaN
1002             1.0       NaN     NaN
1003             NaN       NaN     1.0
1004             NaN       NaN     NaN
1005             NaN       1.0     NaN

In [43]:
df_topping_mult.describe().T

                            count      mean       std  min  25%  50%  75%  max
           topping_name
multiplier bacon           5276.0  1.286865  0.408460  0.5  1.0  1.0  1.5  2.0
           canadian bacon  5340.0  1.276311  0.404844  0.5  1.0  1.0  1.5  2.0
           hot sauce       5267.0  1.277672  0.401799  0.5  1.0  1.0  1.5  2.0
           olives          5315.0  1.274694  0.404027  0.5  1.0  1.0  1.5  2.0
           onion           5305.0  1.279265  0.409981  0.5  1.0  1.0  1.5  2.0
           pepperoni       5415.0  1.277193  0.401657  0.5  1.0  1.0  1.5  2.0
           peppers         5286.0  1.271188  0.397366  0.5  1.0  1.0  1.5  2.0
           pineapple       5177.0  1.290226  0.401573  0.5  1.0  1.0  1.5  2.0
           sausage         5273.0  1.279348  0.402482  0.5  1.0  1.0  1.5  2.0

In [44]:
df_topping_charge = pd.pivot_table(
    df_toppings, values=['topping_charge'], index=['pizza_id'], columns='topping_name'
)
show_df(df_topping_charge)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17453 entries, 1001 to 21001
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   (topping_charge, bacon)           5276 non-null   float64
 1   (topping_charge, canadian bacon)  5340 non-null   float64
 2   (topping_charge, hot sauce)       5267 non-null   float64
 3   (topping_charge, olives)          5315 non-null   float64
 4   (topping_charge, onion)           5305 non-null   float64
 5   (topping_charge, pepperoni)       5415 non-null   float64
 6   (topping_charge, peppers)         5286 non-null   float64
 7   (topping_charge, pineapple)       5177 non-null   float64
 8   (topping_charge, sausage)         5273 non-null   float64
dtypes: float64(9)
memory usage: 1.3 MB
None

             topping_charge                                                  \
topping_name          bacon canadian bacon hot sauce olives onion pepperoni
pizza_id
1001                    NaN           0.99       NaN    NaN  0.73       NaN
1002                    NaN            NaN      0.19   0.73  0.49      0.99
1003                    NaN            NaN       NaN    NaN   NaN       NaN
1004                    NaN            NaN       NaN    NaN  0.73       NaN
1005                   0.99            NaN       NaN    NaN  0.73      1.48


topping_name peppers pineapple sausage
pizza_id
1001             NaN       NaN     NaN
1002            0.49       NaN     NaN
1003             NaN       NaN    0.99
1004             NaN       NaN     NaN
1005             NaN      0.79     NaN

In [45]:
df_topping_charge.describe().T

                                count      mean       std   min   25%   50%  \
               topping_name
topping_charge bacon           5276.0  1.272248  0.404078  0.49  0.99  0.99
               canadian bacon  5340.0  1.261811  0.400469  0.49  0.99  0.99
               hot sauce       5267.0  0.240976  0.076014  0.09  0.19  0.19
               olives          5315.0  0.622867  0.197647  0.24  0.49  0.49
               onion           5305.0  0.625120  0.200622  0.24  0.49  0.49
               pepperoni       5415.0  1.262705  0.397278  0.49  0.99  0.99
               peppers         5286.0  0.621160  0.194315  0.24  0.49  0.49
               pineapple       5177.0  1.017506  0.316871  0.39  0.79  0.79
               sausage         5273.0  1.264777  0.398105  0.49  0.99  0.99

                                75%   max
               topping_name
topping_charge bacon           1.48  1.98
               canadian bacon  1.48  1.98
               hot sauce       0.28  0.38
               olives          0.73  0.98
               onion           0.73  0.98
               pepperoni       1.48  1.98
               peppers         0.73  0.98
               pineapple       1.18  1.58
               sausage         1.48  1.98

### pizza info (`df_pizza_info`)

In [46]:
df_pizza_info = pizzas[['size_id','crust_type_id']].join(pizza_modifiers, how='left')
df_pizza_info.modifier_id.fillna(0, inplace=True)
df_pizza_info = df_pizza_info.astype({'modifier_id':'int64'})
df_pizza_info['type_id'] = (
    8 * (df_pizza_info.size_id - 1) 
    + 4 * (df_pizza_info.crust_type_id - 1)
    + df_pizza_info.modifier_id
)

show_df(df_pizza_info)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20001 entries, 1001 to 21001
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   size_id        20001 non-null  int64
 1   crust_type_id  20001 non-null  int64
 2   modifier_id    20001 non-null  int64
 3   type_id        20001 non-null  int64
dtypes: int64(4)
memory usage: 781.3 KB
None

          size_id  crust_type_id  modifier_id  type_id
pizza_id
1001            1              2            0        4
1002            2              2            0       12
1003            1              2            0        4
1004            3              2            0       20
1005            4              1            1       25

### Pizza Types (`df_pizza_types`)

In [47]:
df_pizza_types = (
    df_pizza_info
    .copy()
    .reset_index()
    .groupby(by=['size_id', 'crust_type_id', 'modifier_id', 'type_id'])
    .agg({'pizza_id':'count'})
    .reset_index()
    .rename(columns={'pizza_id':'order_count'})
)
df_pizza_types.set_index('type_id', inplace=True)
df_pizza_types = df_pizza_types.join(crust_types, on='crust_type_id')
df_pizza_types = df_pizza_types.join(sizes, on='size_id')
df_pizza_types = df_pizza_types.join(modifiers, how='left', on='modifier_id')
df_pizza_types = df_pizza_types.astype({'modifier_id':'int64'})
df_pizza_types.modifier_name.fillna('regular', inplace=True)
df_pizza_types.modifier_price.fillna(0, inplace=True)
df_pizza_types['pizza_price'] = df_pizza_types.size_price + df_pizza_types.modifier_price


show_df(df_pizza_types)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 31
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   size_id          32 non-null     int64
 1   crust_type_id    32 non-null     int64
 2   modifier_id      32 non-null     int64
 3   order_count      32 non-null     int64
 4   crust_type_name  32 non-null     object
 5   size_name        32 non-null     object
 6   size_price       32 non-null     float64
 7   modifier_name    32 non-null     object
 8   modifier_price   32 non-null     float64
 9   pizza_price      32 non-null     float64
dtypes: float64(3), int64(4), object(3)
memory usage: 2.8+ KB
None

,size_id,crust_type_id,modifier_id,order_count,crust_type_name,size_name,size_price,modifier_name,modifier_price,pizza_price
type_id,,,,,,,,,,
0,1,1,0,1730,hand-tossed,small,8.99,regular,0.00,8.99
1,1,1,1,254,hand-tossed,small,8.99,extra cheese,1.99,10.98
2,1,1,2,267,hand-tossed,small,8.99,well done,0.00,8.99
3,1,1,3,263,hand-tossed,small,8.99,no cheese,0.00,8.99
4,1,2,0,1709,thin and crispy,small,8.99,regular,0.00,8.99

## Questions

### Q.1
**What information is stored in the `toppings` table? How does this table relate to the `pizzas` table?**

Topping id, name, and price. 

`pizzas.pizza_id` **1:0-M** `pizza_toppings.pizza_id`

`pizza_toppings.topping_id` **M:1** `toppings.topping_id`

### Q.2
**What information is stored in the `modifiers` table? How does this table relate to the `pizzas` table?**

Modifier id, name, and price. 

`pizzas.pizza_id` **1:0-1** `pizza_modifiers.pizza_id`

`pizza_modifiers.modifier_id` **M:1** `modifiers.modifier_id`

### Q.3
**How are the `pizzas` and `sizes` tables related?**

`pizzas.size_id` **M:1** `sizes.size_id`

### Q.4
**What other tables are in the database?**

`pizzas.crust_id` **M:1** `crusts.crust_id`

### Q.5
**How many unique toppings are there?**

In [48]:
print(f'There are {topping_id_count} unique toppings')

There are 9 unique toppings

### Q.6
**How many unique orders are in this dataset?**

In [49]:
print(f'There are {pizza_order_id_count} unique orders')

There are 10000 unique orders

### Q.7
**Which size of pizza is sold the most?**

### Q.8
**How many pizzas have been sold in total?**

### Q.9
**What is the most common size of pizza ordered?**

### Q.10
**What is the average number of pizzas per order?**

### Q.11
**Find the total price for each order. The total price is the sum of:**

- **The price based on pizza size**
- **Any modifiers that need to be charged for**
- **The sum of the topping prices**

**Topping price is affected by the amount of the topping specified. A light amount is half of the regular price. An extra amount is 1.5 times the regular price, and double of the topping is double the price.**

### Q.12
**What is the average price of pizzas that have no cheese?**

### Q.13
**What is the most common size for pizzas that have extra cheese?**

### Q.14
**What is the most common topping for pizzas that are well done?**

### Q.15
**How many pizzas are only cheese (i.e. have no toppings)?**

### Q.16
**How many orders consist of pizza(s) that are only cheese? What is the average price of these orders? The most common pizza size?**

### Q.17
**How may large pizzas have olives on them?**

### Q.18
**What is the average number of toppings per pizza?**

### Q.19
**What is the average number of pizzas per order?**

### Q.20
**What is the average pizza price?**

### Q.21
**What is the average order total?**

### Q.22
**What is the average number of items per order?**

### Q.23
**What is the average number of toppings per pizza for each size of pizza?**

### Q.24
**What is the average order total for orders that contain more than 1 pizza?**

### Q.25
**What is the most common pizza size for orders that contain only a single pizza?**

### Q.26
**How many orders consist of 3+ pizzas? What is the average number of toppings for these orders?**

### Q.27
**What is the most common topping on large and extra large pizzas?**

### Q.28
**What is the most common topping for orders that consist of 2 pizzas?**

### Q.29
**Which size of pizza most frequently has modifiers?**

### Q.30
**What percentage of pizzas with hot sauce have extra cheese?**

### Q.31
**What is the average order price for orders that have at least 1 pizza with pineapple?**